{% extends 'base.html' %}

{% block content %}
<div class="container mt-1 d-flex justify-content-center">
    <div class="input-group input-group-sm" style="max-width: 300px; width: 100%;">
        <input id="searchText" name="search" type="text" class="form-control" placeholder="Search..." aria-label="Search">
    </div>
</div>
<div class="container-fluid" style="height: 100vh;">
    <div class="row h-100">
        <div class="col overflow-auto">
            <div class="container">
                <div id="searchResult" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for i in post %}
                        <div class="col" id="search">
                            <div class="card h-100 shadow-sm">
                                <div class="card-body">
                                    <a href="/post-details/{{ i.id }}">
                                        <img src="{{ i.image }}" class="card-img-top" alt="Post Image" style="height: 150px; object-fit: cover;">
                                        <h5 class="card-title">{{ i.title }}</h5>
                                        <p class="card-text">{{ i.short_text }}</p>
                                        <p class="text-primary fw-bold">{{ i.price }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#searchText').change(function () {
    $.ajax('/search', {
        'type': 'POST',
        'async': true,
        'dataType': 'json',
        'data': {
            'search': $('#searchText').val()
        },
        'success': function (response) {
            $('#searchResult').empty();

            if (response.result && response.result.length > 0) {
                response.result.forEach(function (post) {
                    const resultHtml = `
                        <div class="card">
                            <div class="card-body">
                                <a href="/post-details/${post.id}">
                                    <img src="${post.image}" class="card-img-top" alt="Post Image" style="height: 150px; object-fit: cover;">
                                    <h5 class="card-title">${post.title}</h5>
                                    <p class="card-text">${post.short_text}</p>
                                    <p class="text-primary fw-bold">${post.price}</p>
                                </a>
                            </div>
                        </div>
                    `;
                    $('#searchResult').append(resultHtml);
                });
            } else {
                $('#searchResult').append('<p> No posts found </p>');
            }
        }
    });
});

</script>
{% endblock %}
