{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/style.css">

<div class="post-container">
    <img src="{{ current_post.image }}" class="card-img-top" alt="Post Image">
    <h5 id="tour-title" class="card-title">{{ current_post.title }}</h5>
    <p class="card-text" id="tour-text">{{ current_post.text }}</p>
    <p class="text-primary" id="tour-price">{{ current_post.price }}€</p>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buyModal">
        Take Tour
    </button>
    <button id="addFavoriteBtn" type="button" class="btn btn-primary">
        Add to Favorites
    </button>
    {% if request.session.get('is_admin') %}
        <button type="button" class="btn btn-primary bg-warning" data-bs-toggle="modal" data-bs-target="#editModal">
          Edit Profile
        </button>
        <button type="button" id="deleteTour" class="btn btn-primary bg-danger" data-url="/post-details/{{current_post.id}}/delete-tour">
            Delete
        </button>
    {% endif %}
</div>

<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Update Tour</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="editTitle" placeholder="title">
        <input type="text" id="editText" placeholder="text">
        <input type="text" id="editPrice" placeholder="price">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-url="/post-details/{{current_post.id}}/edit-tour" id="editSave" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="buyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="buyModalLabel">Card Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card bg-primary text-white rounded-3">
          <div class="card-body">
            <p class="small mb-2">Card Type</p>
            <div class="d-flex">
              <i class="fab fa-cc-mastercard fa-2x me-3 text-white"></i>
              <i class="fab fa-cc-visa fa-2x me-3 text-white"></i>
              <i class="fab fa-cc-amex fa-2x me-3 text-white"></i>
              <i class="fab fa-cc-paypal fa-2x text-white"></i>
            </div>

            <form class="mt-4">
              <div class="form-outline form-white mb-4">
                <input type="text" id="typeName" class="form-control form-control-lg" placeholder="Cardholder's Name" required />
                <label class="form-label" for="typeName">Cardholder's Name</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="text" id="typeText" class="form-control form-control-lg" placeholder="1234 5678 9012 3457" maxlength="19" required />
                <label class="form-label" for="typeText">Card Number</label>
              </div>

              <div class="row mb-4">
                <div class="col-md-6">
                  <div class="form-outline form-white">
                    <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YYYY" maxlength="7" required />
                    <label class="form-label" for="typeExp">Expiration</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-outline form-white">
                    <input type="password" id="cvv" class="form-control form-control-lg" placeholder="CVV" maxlength="3" required />
                    <label class="form-label" for="cvv">CVV</label>
                  </div>
                </div>
              </div>
            </form>

            <hr class="my-4">

            <div class="d-flex justify-content-between mb-4">
              <p class="mb-2">Total (Incl. Taxes)</p>
              <p class="mb-2" id="total">{{ current_post.price }}€</p>
              <p class="mb-2">
              </p>
            </div>

            <div class="form-outline form-white mb-4">
              <input type="date" id="end" class="form-control form-control-lg" name="trip-end" value="2025-07-25" min="2025-01-01" max="2025-12-31" required/>
              <label class="form-label" for="end">End Date</label>
            </div>

            <div class="form-outline form-white mb-4">
              <input type="number" id="people" class="form-control form-control-lg" name="people" min="1" required/>
              <label class="form-label" for="people">Number of People</label>
            </div>

            <div class="d-flex gap-3">
              <button type="button" class="btn btn-info btn-lg flex-grow-1">
                Buy <i class="fas fa-heart ms-2"></i>
              </button>
              <button type="button" id="NumberOfPeople" data-url="/post-details/{{current_post.id}}/number-of-people" class="btn btn-info btn-lg flex-grow-1">
                Calculate Price <i class="fas fa-heart ms-2"></i>
              </button>
              <button type="button" class="btn btn-secondary btn-lg flex-grow-1" data-bs-dismiss="modal">
                Cancel <i class="fas fa-long-arrow-alt-left ms-2"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const userId = {{ user.id }};
    const postId = {{ current_post.id }};
    document.getElementById("addFavoriteBtn").addEventListener("click", function() {
        $.ajax({
            url: '/add_to_favorites/',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                user_id: userId,
                post_id: postId
            }),
            success: function(response) {
                alert(response.message);
            },
            error: function(error) {
                alert(error.responseJSON.detail || 'An error occurred.');
            }
        });
    });
});

</script>
<script src="/static/js/number_of_people.js"></script>
<script src="/static/js/edit-tour.js"></script>
<script src="/static/js/delete-tour.js"></script>


{% endblock %}
